body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    
     
}


header{
    
    text-align: center;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    
    display: flex;
    justify-content: center;
}
img{
    max-width: 250px;
    
    
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 40px;
}
nav a{
    transition: 0.5s ease;
    color: #7BD3EA;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: black;
}
nav a i{
    margin-right: 10px;
}
/*  Inicio slider de los productos populares */
.swiper-container {
    width: 100%;
    height: 100%;
    
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100vh;
    border-radius: 30px;
}
.swiper-pagination{
    display: none;
}

/*Fin del slider de los productos populares*/
.hero-section {
    text-align: center;
    padding: 100px 20px;
    background: url('/src/assets/Cuautex-200.jpeg') center/cover no-repeat fixed;
    color: #fff;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}


.product-cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-card p {
    color: #666;
}

.product-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}